.products-table {
  width: 100%;
  border: 1px solid #edeef1;
  border-collapse: collapse;
  border-radius: 5px;
}

.products-table th,
.products-table tbody td {
  text-align: left;
  padding: 5px 10px;
}

.products-table th {
  padding: 10px;
}

.products-table tbody {
  max-width: 60vh;
  overflow-y: auto;
}

.products-table thead {
  background-color: rgb(243, 244, 246);
  border-color: #edeef1;
}

.products-table tbody tr:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.row-image {
  width: 150px;
  height: 100px;
  object-fit: contain;
}

.products-table h3,
.products-table p {
  margin: 0;
}
