.container {
  margin: auto;
  width: 80%;
  height: 100vh;
  overflow: auto;
}

.banner {
  width: 100%;
  padding-block: 1%;
  background-color: #1481f4;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 2%;
}

.products {
  width: 98%;
  padding-inline: 1%;
}

.img-container {
  width: fit-content;
}
