.container {
  margin: auto;
  width: 70%;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.banner {
  width: 100%;
  padding-block: 1%;
  background-color: #1481f4;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 2%;
}

.products {
  width: 98%;
  height: 83vh;
  overflow-y: auto;
  box-sizing: border-box;
  margin-top: 1%;
}

.products::-webkit-scrollbar {
  width: 10px;
}

.products::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #1481f4;
}

.products::-webkit-scrollbar-track {
  background-color: #f1f1f169;
}
